<div class="container-fluid">
  <div class="container-fluid">
    <div class="header">
    <h1> welcome to Angular</h1>
    <p> This is a simple demo of grid list page. </p>
  </div>
</div>
<div class="grid-section">
  <mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile>
      <h2>HTML</h2>
     <span> <p>- stands for hyper text markup language</p>
     </span>
    </mat-grid-tile>
     </mat-grid-list>
      <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile><h2>CSS</h2>
     <span> <p>- cascading style sheet</p>
     </span></mat-grid-tile>
    <mat-grid-tile><h2>JAVASCRIPT</h2>
     <span> <p>- programming language of HTML and Web</p>
     </span></mat-grid-tile>
    <mat-grid-tile><h2>NODEJS</h2>
     <span> <p> - open source server environment</p>
     </span></mat-grid-tile>
  </mat-grid-list>
</div>
</div>
